<div id="nrbox">

<div id="lmclass" class="cmain">
  <table align="center" border="0" cellspacing="0" cellpadding="0">
    <tr>

      <td><div class="cb2"> <a routerLink="/standard" routerLinkActive="active" id="StandardRoom">普通行政间</a></div></td>
      <td><div class="cb2"> <a routerLink="/spuerior" routerLinkActive="active" id="SuperiorRoom">高级行政间</a></div></td>
      <td><div class="cb2"> <a routerLink="/deluxe" routerLinkActive="active" id="DeluxeRoom">豪华行政间</a></div></td>

  </table>
</div>



  </div>
<div>
  <router-outlet></router-outlet>
</div>
