<div id="nrbox">
<section class="content_box cleafix">
  <div class="left_area fl">
    <!-- 在调用Servlet服务之前需要写入basePath -->
    <form action="<%=basePath%>LoginServ" method="post">
      <div class="form_body" data-view="loginView">
        <div class="input_item clearfix" data-propertyname="username" data-controltype="Phone" style="display: block;">
          <input type="text" class="input input_white" id="" name="useraccount" placeholder="请输入已验证手机/邮箱" data-required="required" autocomplete="off">
        </div>
        <div class="input_item clearfix" data-propertyname="password" data-controltype="Password" style="display: block;">
          <input type="password" class="input input_white" id="" name="userpwd" placeholder="请输入密码" data-required="required" autocomplete="off">
        </div>
        <div class="input_item clearfix" data-propertyname="request_form_verifyCode" data-controltype="VerifyCode" style="display:none;">
          <input type="text" class="input input_white fl" style="width:130px; display:block;" name="" placeholder="请证明你不是机器人" data-required="required" autocomplete="off">
          <img src="http://passport.lagou.com/login/login.html" alt="" class="yzm">
          <a href="javascript:;" class="reflash"></a>
        </div>
        <div class="input_item clearfix">
          <table width="100%">
            <tr>
              <td width="50%">
                <p style="color: #FF0000">{{result}}</p>
              </td>
              <td width="50%">
                <!--<a href="https://passport.lagou.com/accountPwd/toReset.html" class="forgot_pwd">忘记密码？</a>-->
                <a href="#" class="forgot_pwd">忘记密码？</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="input_item clearfix" data-propertyname="submit" data-controltype="Botton" style="display: block;">
          <input type="submit" class="btn btn_green btn_active btn_block btn_lg" value="登 录">
        </div>
        <div class="input_item clearfix">
          <!--<h5 class="reg_now">还没有启元帐号？<a href="http://passport.lagou.com/register/register.html">立即注册</a></h5>-->
          <h5 class="reg_now">还没有启元帐号？<a href="../register/register.html">立即注册</a></h5>
        </div>
        <input type="hidden" value="" id="isVisiable_request_form_verifyCode">
      </div>
    </form>
  </div>

  <div class="divider fl">
    <img src="../../assets/img/divider-login_3362138.jpg" alt="分割线">
  </div>
  <div class="right_area fl">
    <h5>使用以下帐号直接登录:</h5>
    <ul class="vender_login clearfix">
      <!--<li><a href="http://passport.lagou.com/oauth20/auth_sinaWeiboProvider.html" title="使用新浪微博帐号登录" class="vender_icon icon_sina" target="_blank"></a></li>
                <li><a href="http://passport.lagou.com/oauth20/auth_qqProvider.html" title="使用腾讯QQ帐号登录" class="vender_icon icon_tencent" target="_blank"></a></li>
                <li class="last_child"><a href="http://passport.lagou.com/oauth20/auth_weixinProvider.html" class="vender_icon icon_wechat" title="使用微信帐号登录" target="_blank"></a></li>
                -->
      <li><a href="#" title="使用新浪微博帐号登录" class="vender_icon icon_sina" target="_blank"></a></li>
      <li><a href="#" title="使用腾讯QQ帐号登录" class="vender_icon icon_tencent" target="_blank"></a></li>
      <li class="last_child"><a href="#" class="vender_icon icon_wechat" title="使用微信帐号登录" target="_blank"></a></li>
    </ul>
    <div class="qrcode">
      <img src="../../assets/img/qrcode_0ec6bff.jpg" alt="二维码">
      <p>[ 扫码关注启元酒店 ]</p>
    </div>
  </div>
</section>
</div>
