<!--栏目标题 start -->
<div id="nrbox">
<div id="lmcap" class="cmain">
  <div style="color: #202020"><b>Qiyuan Hotel Beijing</b></div>
  <p>盘古氏国际大酒店有限责任公司| 为您提供高品质的住宿和出行方式</p>
</div>
<!--栏目标题 end -->

<!--内容 start -->
<div id="abtcontent" class="cmain">
  <div class="c1"><img src="../../assets/img/about/about_img1.jpg" width="350" height="500" alt=""></div>
  <div class="c2">
    <h1 style="color: -webkit-text;">Qiyuan Hotel Beijing</h1>
    <div class="c20">
      <p>启元国际大酒店有限责任公司位于北京的四环黄金地段，俯瞰奥林匹克公园及鸟巢国家体育场和水立方游泳中心等多个奥运场馆。建筑外观威严壮丽，一如“启元”其名；龙形建筑外观极富想象，是首都的新地标，为建筑大师贾林鹏先生继著名的台北101大厦之后的又一杰作。启元国际大酒店有限责任公司汇集世界商务办公最高标准的启元写字楼、拥有世界精品名店汇集的购物长廊盘古龙廊，以及包含中国传统居住文化和现代舒适的启元空中四合院。</p>

    </div>
    <div class="c21">
      <div class="d1">LOCATION 位置</div>
      <div class="d2">中国北京朝阳区北四环中路27号毗邻2008年北京奥林匹克公园，地理位置绝佳</div>
    </div>
    <div class="c21">
      <div class="d1">BUILDING 建筑</div>
      <div class="d2">启元大厦建筑群为建筑大师贾林鹏先生的又一杰作，外观威严壮丽，一如“启元”其名</div>
    </div>
    <div class="c21">
      <div class="d1">DESIGN 设计</div>
      <div class="d2">启元国际大酒店有限责任公司由著名室内设计师Ricardo Bello Dias倾力打造</div>
    </div>
  </div>
</div>

<div class="clear"></div>
<div id="abtcontbtm1" class="cmain">—— 流光溢彩，体验非凡 ——</div>
<div id="abtcontbtm2" class="cmain">
  <ul>
    <li class="c1"><a href="http://www.panguhotel.com/meeting.html" title=""><img src="../../assets/img/about/about_btm_1.jpg" alt=""></a></li>
    <li class="c2"><a href="http://www.panguhotel.com/rooms.html" title=""><img src="../../assets/img/about/about_btm_2.jpg" alt=""></a></li>
    <li class="c3"><a href="http://www.panguhotel.com/catering.html" title=""><img src="../../assets/img/about/about_btm_3.jpg" alt=""></a></li>
    <li class="c4"><a href="http://www.panguhotel.com/leisure.html" title=""><img src="../../assets/img/about/about_btm_4.jpg" alt=""></a></li>
  </ul>
</div>
<!--内容 end -->

<div class="clear"></div>
</div>
