<div id="nrbox">
  <!--栏目标题 start -->
  <div id="lmcap" class="cmain">
    <div>Message Boards</div>
  </div>
  <!--栏目标题 end -->

  <!--start-contact-->
  <div class="messageboardsc">
    <div class="container">
      <div class="messageboardsc-top heading">
      </div>
      <!--<form action="MessageBoardsServ" method="post">-->
      <div class="messageboardsc-bottom" >
        <input [(ngModel)]="msg.usrname" type="text" value="Name" onfocus="this.value = '';" style="color:gray;" onblur="if (this.value == '') {this.value = 'Name...';}" />
        <br />
        <br />
        <input [(ngModel)]="msg.email" type="text" value="Email" onfocus="this.value = '';" style="color:gray;" onblur="if (this.value == '') {this.value = 'Email...';}" />
        <br />
        <br />
        <input [(ngModel)]="msg.phonenumber" type="text" value="Phone" onfocus="this.value = '';" style="color:gray;" onblur="if (this.value == '') {this.value = 'Phone...';}" />
        <br />
        <br />
        <textarea [(ngModel)]="msg.text" style="size:14px" value="Message:" onfocus="this.value = '';" style="color:lightpink;" onblur="if (this.value == '') {this.value = 'Message';}">Message...</textarea>

        <div class="messageboardsc-submit-btn">
          <form>
            <p> {{done}}</p>
            <input type="submit" (click)="save()" value="提交" >
          </form>
        </div>
      </div>



      <!--</form>-->
    </div>
  </div>
  <!--end-contact-->





  <div class="clear"></div>
</div>

