<div id="nrbox">

  <!--大图 start -->
  <div id="contentad" class="cmain">
    <div id="slider" class="flexslider">
      <ul class="slides" id="indexbanner">

        <li style="background:url(../../assets/img/room/7.jpg) no-repeat center top;"></li>

      </ul>
    </div>
  </div>
  <!--大图 end -->
  <!--标题 start -->
  <div id="imgcap" class="cmain">
    <div class="c1">高级行政间　55平方米 / 594平方英尺　2888元起</div>
    <div class="c2"><a href='../book/booking.html' ><img src='../../assets/img/btn_order.jpg' width='105' height='33' alt='' align="absmiddle" /></a></div>
  </div>
  <div style="width: 999px;margin: auto;line-height: 25px;text-indent: 50px;color: #837256;">上述价格均为人民币，需加收15%服务费及相应增值税。</div>
  <!--标题 end -->

  <div id="infocont" class="cmain">
    <h1>行政间简介</h1>
    <div>
      <table border="0" cellspacing="0" cellpadding="0" style="border:1px solid #cdcdcd;">
        <tr>
          <th class="cth1" valign="top">客房面积</th>
          <td valign="top">50 m<em>2</em></td>
          <th class="cth2" valign="top">客房数</th>
          <td valign="top">72</td>
          <th class="cth3" valign="top">入住人数</th>
          <td valign="top">2</td>
        </tr>
        <tr>
          <th class="cth4" valign="top">客床款式</th>
          <td valign="top">大床，双床</td>
          <th class="cth5" valign="top">楼层</th>
          <td valign="top">7-20</td>
          <th class="cth6" valign="top">卫生间形式</th>
          <td valign="top"></td>
        </tr>
        <tr>
          <th class="cth7" valign="top">客房用品</th>
          <td colspan="5" valign="top"></td>
        </tr>
        <tr>
          <th class="cth8" valign="top">服务</th>
          <td colspan="5" valign="top">
            50平方米 / 540平方英尺<br />
            城市美景<br />
            电子壁炉<br />
            Bose环绕音响系统和LCD液晶电视<br />
            Frette 600支纱埃及棉床上用品<br />
            意大利大理石浴室及手工雕刻壁画<br />
            热带雨林式淋浴<br />
            Kaldewei 浴池及嵌入式液晶电视<br />
            电动遥控窗帘
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
