<!--Bottom start -->
<div id="bottom" class="cmain">
  <div class="c0 c1">
    <a href="http://www.weibo.com/pangu7star" target="_blank">
      <img src='../assets/img/bottom/ico_weibo_sina.jpg' width='28' height='28' alt=''>
    </a>
    <a href="#" onclick="return false" onmouseover="$('#icoweixin').show();" onmouseout="$('#icoweixin').hide();">
      <img src='../assets/img/bottom/ico_weixin.jpg' width='28' height='28' alt=''>
    </a>
    <div id="icoweixin">
      <h3>启元国际酒店官方微信</h3>
      <img src="../assets/img/bottom/ico_wei.png">
      <p>扫码关注</p>
    </div>
  </div>
  <div class="c0 c2">中国北京市昌平区府学路18号 &nbsp; 电话: +86 10 59067777 &nbsp; 传真: +86 10 59067999 &nbsp; 邮箱: <a href="mailto:info@start.com">info@start.com</a>
  </div>
  <div class="c0 c3">Copyright © 2016 京ICP备16888888号-8</div>
</div>
<!--Bottom end -->
