<div id="nrbox" >
  <!--栏目标题 start -->
  <div id="lmcap" class="cmain">
    <div>Hotel Reservation</div>
  </div>
<div class="container-fluid content" style="width: 800px; height: auto; ">
  <div class="row" >

    <!--此处为需要添加的内容-->
    <!-- index_Main Page -->
    <div class="invoice" >
      <!--<div class="panel bk-bg-white">-->
      <div class = "panel">
        <div class="panel-body">
          <form class="form-horizontal group-border" role="form">
            <div class="form-group" align="center">
              <label class="pull-left control-label ">用户姓名</label>
              <div class="col-lg-5 col-md-3">
                <input type="text" class="form-control">
              </div>
            </div>
            <hr  />
            <div class="form-group" align="center">
              <label class="pull-left control-label ">联系方式</label>
              <div class="col-lg-5 col-md-3">
                <input type="text" class="form-control">
              </div>
            </div>
            <hr />
            <div class="form-group">
              <label class="pull-left control-label">选择酒店</label>
              <div class="col-lg-10 col-md-10">
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <select class="form-control select2">
                      <optgroup label="中国">
                        <option value="AK">启元北京国际大酒店</option>
                        <option value="HI">启元上海国际大酒店</option>
                      </optgroup>
                      <optgroup label="日本">
                        <option value="CA">启元东京国际大酒店</option>
                        <option value="NV">启元大阪国际大酒店</option>
                        <option value="OR">启元北斗国际大酒店</option>
                      </optgroup>
                      <optgroup label="澳大利亚">
                        <option value="AZ">启元黄金海岸国际大酒店</option>
                        <option value="CO">启元你猜国际大酒店</option>
                      </optgroup>
                      <optgroup label="美国">
                        <option value="AL">启元洛杉矶国际大酒店</option>
                        <option value="AR">启元芝加哥国际大酒店</option>
                        <option value="IL">启元纽约国际大酒店</option>
                        <option value="IA">启元波士顿国际大酒店</option>
                        <option value="KS">启元加利福尼亚国际大酒店</option>
                        <option value="KY">启元费城国际大酒店</option>
                      </optgroup>
                    </select>
                    <span class="help-block">根据地区选择酒店</span>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="form-group">
              <label class="pull-left control-label">选择房型</label>
              <div class="col-lg-10 col-md-10">
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <select class="form-control select2">
                      <optgroup label="套房">
                        <option value="AK">总统套房</option>
                        <option value="ZZ">至尊套房</option>
                        <option value="SH">奢华套房</option>
                        <option value="ZG">尊贵套房</option>
                        <option value="HH">豪华套房</option>
                        <option value="XZ">行政套房</option>
                        <option value="JT">家庭套房</option>
                      </optgroup>
                      <optgroup label="行政标准间">
                        <option value="CA">普通行政间</option>
                        <option value="NV">豪华行政间</option>
                        <option value="OR">尊贵行政间</option>
                      </optgroup>
                      <optgroup label="商务标准间">
                        <option value="AZ">普通商务间</option>
                        <option value="CO">豪华商务间</option>
                        <option value="OR">尊贵商务间</option>
                      </optgroup>
                    </select>
                    <span class="help-block">根据需求选择房型</span>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="form-group">
              <label class="pull-left control-label">选择时间</label>
              <div class="col-md-6">
                <div class="input-daterange input-group" data-plugin-datepicker>
														<span class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</span>
                  <input type="text" class="form-control" name="start" />
                  <span class="input-group-addon">to</span>
                  <input type="text" class="form-control" name="end" />
                </div>
              </div>
            </div>
            <hr />
            <!--<div class="row">
                                    <div class="col-lg-4 col-lg-offset-4 col-sm-5 col-sm-offset-2 recap pull-right">
                                        <table class="table table-clear">
                                            <tbody>
                                                <tr>
                                                    <td class="left"><strong>共消费</strong></td>
                                                    <td class="right">$412,25</td>
                                                </tr>
                                                <tr>
                                                    <td class="left"><strong>折扣 (25%)</strong></td>
                                                    <td class="right">$103,06</td>
                                                </tr>
                                                <tr>
                                                    <td class="left"><strong>实际共消费</strong></td>
                                                    <td class="right"><strong>$340,11</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>-->
            <hr/>
            <!--<div class="pull-right">
                                    <button type="button" class="btn btn-primary">
                                        <i class="fa fa-lightbulb-o"></i> 提交
                                    </button>
                                </div>-->
            <div class="messageboardsc-submit-btn" align="center">
              <input type="submit" value="提交">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
