/* You can add global styles to this file, and also import other style files */
/*公用*/
*{margin:0;padding:0;}
html,body{-webkit-text-size-adjust:none;}
body{font-size:12px; background:/*#00B38A*/#2e2a2b;font-family: Pangu, Georgia, "微软雅黑", Times, serif,'微软雅黑';color:#585858;}
ol li,ul li{ margin:0;padding:0;list-style-type:none; vertical-align:middle;}
img{border:none;vertical-align:middle;}
input{vertical-align:middle;}
font{font-size:12px;}
table1{border-collapse: collapse;border-spacing: 0;}
p,h1,h2,h3,h4,h5,h6{font-weight:normal;margin:0;padding:0;}

a:link,a:visited,a:active,a:hover{text-decoration:none;color:#585858;}
.clear{clear:both;}

.fl{float:left;}
.fr{float:right;}

.cdiv{width:1024px;margin:auto;height:460px;position:relative;}
.cdiv1{position:absolute;top:106px;left:760px;width:350px;height:36px;padding-top:232px;z-index:0;color:#fff;}

/* clear float */
.clear, .clearfix:after {
  clear: both;
}
.clear, .clearfix:before, .clearfix:after {
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0; height: 0;
}
.clearfix:before, .clearfix:after {
  content: '';
}
.clearfix {
  *zoom: 1;
}
/********************************** 首页 ***********************************/
#tuijian{height:212px;}
#tuijian div{font-size:14px;font:"微软雅黑";color:#bebdbe;line-height:40px;height:40px;background:url(./assets/img/ico_tj.jpg) no-repeat 60px 15px;margin-left:38px;}
#tuijian li.c1{float:left;width:22px;padding-top:40px;}
#tuijian li.c3{float:left;width:22px;padding-top:40px;}
#tuijian li.c2{float:left;width:945px;}
#tuijian li.c2 td{width:190px;height:140px;text-align:center;}
#tuijian li.c2 td img{width:150px;height:100px;text-align:center;}
#tuijian li.c2 td img.i1{border:4px solid #df892b;}
#tuijian li.c2 td img.i2{border:4px solid #f6eda5;}
#tuijian li.c2 td img.i3{border:4px solid #e9e1d7;}
#tuijian li.c2 td img.i4{border:4px solid #edf00c;}
#tuijian li.c2 td img.i5{border:4px solid #06a3ec;}
#tuijian li.c2 td p{width:100%;height:30px;text-align:center;line-height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#tuijian li.c2 td p a:link,#tuijian li.c2 td p a:visited,#tuijian li.c2 td p a:active,#tuijian li.c2 td p a:hover{font-size:12px;color:#e7e4b2;text-align:center;}

#notice{height:34px;background:#000;}
#notice div.c1{width:80px;height:34px;line-height:34px;float:left;text-align:center;color:#a9a7a8;}
#notice div.c1 img{margin-left:3px;margin-right:3px;}
#notice div.c2{width:858px;float:left;height:34px;overflow:hidden;}
#notice div.c2 li{width:429px;height:34px;line-height:34px;float:left;overflow:hidden;background:url(./assets/img/ico_dot.jpg) no-repeat 0 14px;text-indent:10px;}
#notice div.c3{width:51px;height:34px;line-height:34px;float:left;text-align:center;}
#notice div.c3 img{margin-left:3px;margin-top: 6px;cursor:pointer;}
#notice a:link,#notice a:visited,#notice a:active,#notice a:hover{font-size:12px;color:#e7e4b2;}

/********************************** 首页 幻灯片 ***********************************/
#indexad{z-index:2;max-width:1600px;min-width:1000px;overflow: hidden;margin:auto;text-align:center;padding-bottom:20px;}

#indexad .flex-direction-nav li{list-style:none;}
#indexad .flex-direction-nav a {width:40px; height:90px; margin-top:-22px; display:block; position:absolute; top:50%;text-indent:-9000px;filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;}
#indexad .flex-direction-nav a.flex-prev {left:0%;background:url(./assets/img/ico_left.jpg) no-repeat;margin-left: 0px;}
#indexad .flex-direction-nav a.flex-prev:hover {background-position:left bottom;}
#indexad .flex-direction-nav a.flex-next {right:0%; background:url(./assets/img/ico_right.jpg) no-repeat;margin-right: -1px;}
#indexad .flex-direction-nav a.flex-next:hover {background-position:right bottom;}
#indexad .flex-control-paging {display:none;}
#indexad .slides{height:580px;}

#indexad .flexslider {margin: 0; padding: 0;position: relative;}
#indexad .flexslider .slides > li {
  display: none;height:580px;
  -webkit-backface-visibility: hidden;
  list-style-type: none;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
#indexad .flexslider .slides img {width: 100%; display: block;}
#indexad .flex-pauseplay span {text-transform: capitalize;}

#indexad div ul.slides li div{height:40px;line-height:40px;background:#333;filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;color:#fff;text-align:center;font-size:14px;position: absolute;bottom: 0;left: 0;width:100%;}
#indexad div ul.slides li div table{margin:auto;}
#indexad div ul.slides li div img{padding-top:2px;margin-left:20px;}

/********************************** 内页 幻灯片 ***********************************/

#contentad{z-index:2;width:900px;margin:auto;text-align:center;padding-top:25px;padding-bottom:20px;}

#contentad .flex-direction-nav li{list-style:none;}
#contentad .flex-direction-nav a {width:40px; height:90px; margin-top:-22px; display:block; position:absolute; top:50%;text-indent:-9000px;filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;}
#contentad .flex-direction-nav a.flex-prev {left:-6%; background:url(./assets/img/ico_left.jpg) no-repeat;margin-left: 0px;}
#contentad .flex-direction-nav a.flex-prev:hover {background-position:left bottom;}
#contentad .flex-direction-nav a.flex-next {right:-6%; background:url(./assets/img/ico_right.jpg) no-repeat;margin-right: -1px;}
#contentad .flex-direction-nav a.flex-next:hover {background-position:right bottom;}
#contentad .flex-control-paging {display:none;}
#contentad .slides{height:500px;}

#contentad .flexslider {margin: 0; padding: 0;position: relative;}
#contentad .flexslider .slides > li {
  display: block;height:500px;
  -webkit-backface-visibility: hidden;
  list-style-type: none;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
#contentad .flexslider .slides img {width: 100%; display: block;}
#contentad .flex-pauseplay span {text-transform: capitalize;}

#imgcap{background:#837256;color:#fff;height:50px;}
#imgcap div.c1{width:819px;height:50px;float:left;text-indent:50px;line-height:50px;font-size:14px;}
#imgcap div.c2{width:110px;height:50px;float:right;margin-right:60px;text-align:center;}
#imgcap div.c2 img{margin-top:8px;}
