<!--mid start -->
<div id="indexad">
  <div id="slider" class="flexslider">
    <ul class="slides" id="indexbanner">

      <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item; background: url(../../assets/img/index/1.jpg) 50% 0% no-repeat;" class="flex-active-slide">
        <div><table border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td>聚福园自助餐厅</td>
            <!--<td><img src='images/btn_order.jpg' style="width:105px;height:33px;" alt='' align="absmiddle"></td>-->
          </tr>
          </tbody></table></div>
      </li>

      <li style="width: 100%; float: left; margin-right: -100%; position: relative; background: url(../../assets/img/index/2.jpg) 50% 0% no-repeat;">
        <div><table border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td>酒店 大堂</td>
            <!--<td><img src='images/btn_order.jpg' style="width:105px;height:33px;" alt='' align="absmiddle"></td>-->
          </tr>
          </tbody></table></div>
      </li>

      <li style="width: 100%; float: left; margin-right: -100%; position: relative; background: url(../../assets/img/index/3.jpg) 50% 0% no-repeat;">
        <div><table border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td>因缘庭/龙竹苑</td>
            <!--<td><img src='images/btn_order.jpg' style="width:105px;height:33px;" alt='' align="absmiddle"></td>-->
          </tr>
          </tbody></table></div>
      </li>
      <li style="width: 100%; float: left; margin-right: -100%; position: relative; background: url(../../assets/img/index/4.jpg) 50% 0% no-repeat;">
        <div><table border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td>宴会厅</td>
            <!--<td><img src='images/btn_order.jpg' style="width:105px;height:33px;" alt='' align="absmiddle"></td>-->
          </tr>
          </tbody></table></div>
      </li>

      <li style="width: 100%; float: left; margin-right: -100%; position: relative; background: url(../../assets/img/index/5.jpg) 50% 0% no-repeat;">
        <div><table border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td>乐满堂</td>
            <!--<td><img src='images/btn_order.jpg' style="width:105px;height:33px;" alt='' align="absmiddle"></td>-->
          </tr>
          </tbody></table></div>
      </li>

    </ul>
    <div class="online_reservation" style="width: auto;">
      <div class="b_room">
        <div class="booking_room">
          <div class="reservation">
            <ul>
              <li  class="span1_of_1 left">
                <h5>到店</h5>
                <div class="book_date">
                  <form>
                    <!--<input class="date" id="datepicker" type="text" value="6/24/2016" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '6/24/2016';}">-->
                    <div class="input-daterange input-group" data-plugin-datepicker>
														<span class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</span>
                      <input type="text" class="form-control" name="start" />
                    </div>
                  </form>
                </div>
              </li>
              <li  class="span1_of_1_2 left">
                <h5>离店</h5>
                <div class="book_date">
                  <form>
                    <!--<input class="date" id="datepicker1" type="text" value="6/24/2016" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '6/24/2016';}">-->
                    <div class="input-daterange input-group" data-plugin-datepicker>
													<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</span>
                      <input type="text" class="form-control" name="end" />
                    </div>
                  </form>
                </div>
              </li>
              <li class="span1_of_1_2 left">
                <h5>房间类型</h5>
                <!----------start section_room----------->
                <div ><!--class="section_room"-->
                  <select id="country" onchange="change_country(this.value)" style="font-size: 12px;">
                    <option value="null">行政房</option>
                    <option value="1">商务房</option>
                    <option value="2">套房</option>
                  </select>
                </div>
              </li>
              <li class="span1_of_3">
                <div class="date_btn">
                  <form>
                    <!--<a herf="room/rooms_nu1.html">查看房间</a>-->
                    <input type="submit" value="查看房间" />
                  </form>
                </div>
              </li>
              <div class="clearfix"></div>
            </ul>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>


    <ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li></ol><ul class="flex-direction-nav">
    <li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
</div>
<!--mid end -->
