<div id="nrbox">
  <input type="hidden" value="false" id="isVisiable_request_form_verifyCode">
  <input type="hidden" value="true" id="is_must_show_verify_code">
<section class="content_box cleafix">
  <div class="left_area fl">
    <form action="<%=basePath%>RegisterServ" method="post">
      <ul class="form_head clearfix">
        <li class="active">
          <i class="icon icon_phone"></i>
          手机号码注册
        </li>
        <li>
          <i class="icon icon_mail"></i>
          邮箱注册
        </li>
						<span class="tab_active">
						</span>
      </ul>
      <div class="form_body" data-view="phoneRegister">
        <div class="input_item clearfix" data-propertyname="phone" data-controltype="Phone" style="display: block;">
          <input type="text" class="input input_white" id="" name="usertel" placeholder="请输入常用手机号码" data-required="required" autocomplete="off">
        </div>
        <!--<div class="input_item clearfix" data-propertyname="request_form_verifyCode" data-controltype="VerifyCode" style="display: block;">
                        <input type="text" id="inputRandom" class="input input_white fl" style="width:130px; display:block;" name="" placeholder="请输入验证码" data-required="required" autocomplete="off">-->
        <!--<img class="yzm" src="../files/create">-->
        <!--<label class="yzm" id="autoRandom" value=""></label>
                      <input type="button" class="reflash" onclick="autoRandom.innerHTML=createCode(4)"></input>
                  </div>-->
        <!--<div class="input_item" data-propertyname="phoneVerificationCode" data-controltype="PhoneVerificationCode" style="display: block;">
                        <div class="input_group clearfix">
                            <input type="text" class="input input_white first_child" id="" name="" placeholder="请输入验证码" data-required="required" autocomplete="off">
                            <input type="button" class="btn btn_green btn_active btn_lg last_child" value="获取验证码" data-required="required">
                        </div>
                    </div>-->
        <div class="input_item clearfix" data-propertyname="password" data-controltype="Password" style="display: block;">
          <input type="password" class="input input_white" id="" name="userpwd" placeholder="请输入密码" data-required="required" autocomplete="off">
        </div>

        <div class="input_item clearfix" data-propertyname="password" data-controltype="Password" style="display: block;">
          <input type="password" class="input input_white" id="" name="userpwd2" placeholder="请确认密码" data-required="required" autocomplete="off">
        </div>
        <label style="color: #FF0000">{{pwdNotSame}}</label>
        <!--<div class="input_item clearfix" data-propertyname="type" data-controltype="Switch" style="display: block;">
                        <input type="button" class="btn btn_outline btn_lg" value="找工作" data-myvalue="0">
                        <input type="button" class="btn btn_outline btn_lg last_child" value="招人" data-myvalue="1">
                    </div>-->
        <div class="input_item clearfix" style="margin-top: 16px; display: block;" data-propertyname="protocol" data-controltype="CheckBox">
          <label for="checkbox" class="box_checkbox">
            <span class="checkbox_icon" style="background-position: -13px 3px;"></span>
            <input type="checkbox" value="" id="checkbox" class="checkbox" data-myvalue="agred" checked="checked">我已阅读并同意

            <!--<a href="http://www.lagou.com/privacy.html" target="_blank" style="color:#00b38a">《拉勾用户协议》</a>-->
            <a href="#" target="_blank" style="color:#2e2a2b">《启元用户协议》</a>
          </label>
        </div>
        <div class="input_item clearfix" data-propertyname="submit" data-controltype="Botton" style="display: block;">
          <input type="submit" class="btn btn_green btn_active btn_block btn_lg" value="注 册">
        </div>
      </div>
      <div class="form_body" data-view="emailRegister" style="display:none;">
        <div class="input_item clearfix" data-propertyname="email" data-controltype="Email" style="display: block;">
          <input type="text" class="input input_white" name="useremail" placeholder="请输入常用邮箱地址" data-required="required" autocomplete="off">
        </div>
        <div class="input_item clearfix" data-propertyname="password" data-controltype="Password" style="display: block;">
          <input type="password" class="input input_white" name="userepwd" placeholder="请输入密码" data-required="required" autocomplete="off">
        </div>

        <div class="input_item clearfix" data-propertyname="password" data-controltype="Password" style="display: block;">
          <input type="password" class="input input_white" id="" name="userepwd2" placeholder="请确认密码" data-required="required" autocomplete="off">
        </div>
        <p style="color: #FF0000">{{pwdNotSame}}</p>
        <!--<div class="input_item clearfix" data-propertyname="request_form_verifyCode" data-controltype="VerifyCode" style="display: none;">
                        <input type="text" class="input input_white fl" style="width:130px; display:block;" name="" placeholder="请证明你不是机器人" data-required="required" autocomplete="off"><img class="yzm" src="../files/create">

                        <a href="javascript:;" class="reflash"></a>
                    </div>
                    --><!--<div class="input_item clearfix" data-propertyname="type" data-controltype="Switch" style="display: block;">
							<input type="button" class="btn btn_outline btn_lg" value="找工作" data-myvalue="0">
							<input type="button" class="btn btn_outline btn_lg last_child" value="招人" data-myvalue="1">
						</div>-->
        <div class="input_item clearfix" data-propertyname="protocol" data-controltype="CheckBox" style="display: block;">
          <label for="checkbox2" class="box_checkbox">
            <span class="checkbox_icon" style="background-position: -13px 3px;"></span>
            <input type="checkbox" value="" id="checkbox2" class="checkbox" data-myvalue="agred" checked="checked">我已阅读并同意
            <!--<a href="http://www.lagou.com/privacy.html" target="_blank" style="color:#00b38a">《启元用户协议》</a>-->
            <a href="#" target="_blank" style="color:#2e2a2b">《启元用户协议》</a>
          </label>
        </div>
        <div class="input_item clearfix" data-propertyname="submit" data-controltype="Botton" style="display: block;">
          <input type="submit" class="btn btn_green btn_active btn_block btn_lg" value="注 册" >
        </div>
      </div>
    </form>
  </div>
  <div class="divider fl">
    <img src="../../assets/img/divider_a3c3658.jpg" alt="分割线">
  </div>

  <div class="right_area fl">
    <h5>已有启元帐号:</h5>
    <a href="" class="login_now">直接登录</a>
    <h5>使用以下帐号直接登录:</h5>
    <ul class="vender_login clearfix">
      <!--<li><a href="http://passport.lagou.com/oauth20/auth_sinaWeiboProvider.html" title="使用新浪微博帐号登录" class="vender_icon icon_sina" target="_blank"></a></li>
                <li><a href="http://passport.lagou.com/oauth20/auth_qqProvider.html" title="使用腾讯QQ帐号登录" class="vender_icon icon_tencent" target="_blank"></a></li>
                <li class="last_child"><a href="http://passport.lagou.com/oauth20/auth_weixinProvider.html" class="vender_icon icon_wechat" title="使用微信帐号登录" target="_blank"></a></li>-->
      <li><a href="#" title="使用新浪微博帐号登录" class="vender_icon icon_sina" target="_blank"></a></li>
      <li><a href="#" title="使用腾讯QQ帐号登录" class="vender_icon icon_tencent" target="_blank"></a></li>
      <li class="last_child">
        <a href="#" class="vender_icon icon_wechat" title="使用微信帐号登录" target="_blank"></a></li>
    </ul>
    <div class="qrcode">
      <img src="../../assets/img/qrcode_0ec6bff.jpg" alt="二维码">
      <p>[ 扫码关注启元酒店 ]</p>
    </div>
  </div>
</section>
</div>
